<div class="content-wrapper">

    <section class="content">

        <form [formGroup]="formName" (submit)="submit()">
            <div class="form-group">
                <label for="name">Name of student</label>
                <input id="name" type="text" class="form-control"
                       placeholder="Name of student" formControlName="name"
                name="name">
            </div>
            <div class="form-group">
                <label for="workshop">Workshop</label>
                <select class="form-control" id="workshop" name="workshop" formControlName="workshop">
                    <option *ngFor="let w of workshops" [ngValue]="w">{{w.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" placeholder="Email"
                       formControlName="email"
                name="email">
            </div>

            <div class="radio">
                <label>
                    <input type="radio" id="osvc" value="OSVC" formControlName="employmentType" checked>
                    Work as OSVC
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" id="hpp" formControlName="employmentType" value="HPP">
                    Work as HPP
                </label>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="formName.invalid">Submit</button>
            <button type="button" class="btn btn-danger">Reset</button>
        </form>

    </section>
</div>
