// Variables
// --------------------------
$fa-font-path: "~font-awesome/fonts";
$fa-font-size-base: $font-size-base;
$fa-css-prefix: fa;
$fa-version: "4.7.0";
$fa-border-color: #eee;
$fa-inverse: #fff;
$fa-li-width: 2.2em;
